<head><meta name="viewport" content="width=device-width"></head>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQPK_z7tyIdBpGxui6Jps_zZsPudqzJ4"></script>

<script>
navigator.geolocation.getCurrentPosition(latitude);
navigator.geolocation.getCurrentPosition(longitude);
function latitude(pos) {
  var curr = pos.coords;
  document.getElementById('getLat').value = 
  curr.latitude
};
function longitude(pos) {
  var curr = pos.coords;
  document.getElementById('getLng').value = 
  curr.longitude
};  
google.maps.event.addDomListener(window, 'load', initialize, latitude(pos), longitude(pos));
</script>

<div class="grid">
<figure class="effect-dexter">
    <figcaption>
      <h1>Welcome To <span>Jidlo</span></h1>
      <p><em>Group dining decisions made easy</em></p>
    </figcaption>     
</figure>
<figure class="effect-oscar">
      <img src="/assets/people.jpg"/>
      <figcaption>
        <h2>Why <span>Jidlo?</span></h2>
        <p>Deciding as a group where to go for lunch can be time consuming. Jidlo's survey will help your group quickly narrow it down.</p>
      </figcaption>     
    </figure>
<figure class="effect-sarah">
  <img src="/assets/coffee.jpeg" alt="img13"/>
  <figcaption>
    <h2>How it works</h2>
    <p>Just enter the information requested below and then generate a survey link to send out to your group.</br></br>Once all responses have been collected the best matched restaurant will be displayed on everyone's page.</p>
  </figcaption>     
</figure>
<figure class="effect-milo">
  <img src="/assets/rest.jpg" alt="img11"/>
  <figcaption>
    <h2>What questions</h2>
    <p>The first part of the survey will ask for restaurant preferences.</br>The second part will allow the survey taker to vote for one of three restaurants that match those preferences.</p>
  </figcaption>     
</figure>
</div>

<% if @home %>
<div class="start">
  <h1>Let's get started!</h1>

  <%= form_for(:new_survey, url: new_survey_path) do |q| %>

  <div class="form-container">
  
  <div id="survey-location">
  <%= q.text_field :name, :placeholder => "Name", :class => 'input-field' %></br></br>

  <%= q.text_field :location, :placeholder => "Location", :class => 'input-field' %></br></br>
  </div>

  <div id="party">
  <h3>How many people are in your party?</h3> 
  <%= q.select :people,
  options_for_select(%w[1 2 3 4 5 6 7 8 9 10]) %></br></br>
  </div>
 

  <%= q.submit "Generate survey link", :id => 'submit' %>

</div>
<% end %>
<% end %>

<% if @link %>
<div class='demo-area'>
  <div id="clip">
    <button class='my_clip_button' data-clipboard-target='fe_text' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy link to Clipboard...</b>
    </button></br></br>
  </div>
  <textarea cols='50' id='fe_text' rows='3'>  
  <% if @link != nil %>
    <%= @link %>
  <% end %>
  </textarea>
</div>
<% end %>

</div>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>