<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQPK_z7tyIdBpGxui6Jps_zZsPudqzJ4"></script>

<script>
navigator.geolocation.getCurrentPosition(latitude);
navigator.geolocation.getCurrentPosition(longitude);
function latitude(pos) {
  var curr = pos.coords;
  document.getElementById('getLat').value = 
  curr.latitude
};
function longitude(pos) {
  var curr = pos.coords;
  document.getElementById('getLng').value = 
  curr.longitude
};  
google.maps.event.addDomListener(window, 'load', initialize, latitude(pos), longitude(pos));
</script>



<div class="grid">
<figure class="effect-dexter">
    <figcaption>
<<<<<<< HEAD
      <h1>Welcome To <span>Jidlo</span></h1>
      <p><em>Group dining decisions made easy</em></p>
    </figcaption>     
</figure>
<figure class="effect-oscar">
      <img src="/assets/8.jpg"/>
      <figcaption>
        <h2>Why <span>Jidlo?</span></h2>
        <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
      </figcaption>     
    </figure>
<figure class="effect-sarah">
  <img src="/assets/13.jpg" alt="img13"/>
  <figcaption>
    <h2>How it works</h2>
    <p>Sarah likes to watch clouds. She's quite depressed.</p>
  </figcaption>     
</figure>
<figure class="effect-milo">
  <img src="/assets/11.jpg" alt="img11"/>
=======
      <h1>How It <span>Works</span></h1>
      <h4><em>Group dining decisions made easy</em></h4>
      <p>A masterpiece - crafted piece by piece by DJ Nam Nam and Poo</p>
    </figcaption>     
</figure>


<div class="gridtwo">
<figure class="effect-oscar">
  <img src="/assets/image1.jpg"/>
  <figcaption>
    <h2>The Survey <span>Questions</span></h2>
    <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
  </figcaption>     
</figure>


<figure class="effect-sarah">
  <img src="/assets/image2.jpg"/>
  <figcaption>
    <h2>Why Use <span>Jidlo</span></h2>
    <p>Sarah likes to watch clouds. She's quite depressed.</p>
  </figcaption>     
</figure>


<figure class="effect-milo">
  <img src="/assets/image3.jpg"/>
>>>>>>> 43cf91ad54f8287b70f86a6b49b4e28d6a1cd8b5
  <figcaption>
    <h2>Faithful <span>Milo</span></h2>
    <p>Milo went to the woods. He took a fun ride and never came back.</p>
  </figcaption>     
</figure>
<<<<<<< HEAD
</div>

<% if @home %>
<div class="start">
<h1>Lets get started</h1>
=======

</div>

</div>
>>>>>>> 43cf91ad54f8287b70f86a6b49b4e28d6a1cd8b5

<%= form_for(:new_survey, url: new_survey_path) do |q| %>

<div class="form-container">
  
  <div id="survey-location">
  <%= q.text_field :name, :placeholder => "Name", :class => 'input-field' %></br></br>

  <%= q.text_field :location, :placeholder => "Location", :class => 'input-field' %></br></br>
  </div>

  <div id="party">
  <h4>How many people are in your party?</h4> 
  <%= q.select :people,
  options_for_select(%w[1 2 3 4 5 6 7 8 9 10]) %></br></br>
  </div>
 
  <div id="submit-btn"> 
  <%= q.submit "Generate survey link", :id => 'submit' %>
  </div>
</div>
<% end %>
<% end %>

<% if @linkgen %>
<div class='demo-area'>
  <div id="clip">
  <button class='my_clip_button' data-clipboard-target='fe_text' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy link to Clipboard...</b>
  </button></br></br>
  </div>
  <textarea cols='50' id='fe_text' rows='3'> 	
  <% if @link != nil %>
    <%= @link %>
  <% end %>
  </textarea>
</div>
</div>
<% end %>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>
