<!--<script type="text/javascript">
window.onload = function(){ apiTimer();};
</script>-->


<h1>Lets get some damn lunch!</h1>
<% if @info != nil %>
<h3>Survey sent by <%= @info.name %></h3>

<h3>Will search in the <%= @info.location %> area</h3>
<% end %>

<% if @survey1 %>
<%= form_for(:response, url: crunch_path, method: :post) do |question| %>

  <%= question.label :question1 %>
  <%= question.select :question1, 
  options_for_select(%w[Thai Chinese Mexican Sushi Burgers Korean Indian FoodTruck FastFood]) %></br></br>

  <%= question.label :question2 %>
  <%= question.select :question2, 
  options_for_select(%w[walking short-drive long-drive]) %></br></br>

  <%= question.label :question3 %>
  <%= question.select :question3, 
  options_for_select(%w[$ $$ $$$ $$$$]) %></br></br>

  <%= question.submit "submit responses!", :id => "survey2" %>

<% end %>
<% end %>


<% if @survey2 %>
  <h1 id="title">Survey 2</h1>



<%= form_for(:responsetwo, url: crunchtwo_path, method: :post) do |f| %>
   
  <p id="test1" style="color:red"></p>      
  <%= f.check_box :restaurant, {}, "venueone", false %> <br/>

  <p id="test2" style="color:red"></p>      
  <%= f.check_box :restaurant, {}, "venuetwo", false %> <br/>

  <p id="test3" style="color:red"></p>      
  <%= f.check_box :restaurant, {}, "venuethree", false %> <br/>

    
  <%= f.submit "Submit This B!" %>


<% end %>

<% end %>


<% if @survey3 %>

<h2>THIS is SURVEY three AKA final RESULT</h2>
 <p id="venueFinal" style="color:purple"></p>  


<% end %>

















<!--
<p id="test1" style="color:red"></p>
<p id="test11" style="color:red"></p>
<p id="test2" style="color:blue"></p>
<p id="test22" style="color:blue"></p>
<p id="test3" style="color:green"></p>
<p id="test33" style="color:green"></p>
-->




