<!--<script type="text/javascript">
window.onload = function(){ apiTimer();};
</script>-->


<h1 id="title">Lets get some damn lunch!</h1>
<% if @info != nil %>
<h3>Survey sent by <%= @info.name %></h3>

<h3>Will search in the <%= @info.location %> area</h3>
<% end %>

<% if @survey1 %>
<%= form_for(:response, url: crunch_path, method: :post) do |question| %>

  <%= question.label :question1 %>
  <%= question.select :question1, 
  options_for_select(%w[Thai Chinese Mexican Sushi Burgers Korean Indian FoodTruck FastFood]) %></br></br>

  <%= question.label :question2 %>
  <%= question.select :question2, 
  options_for_select(%w[walking short-drive long-drive]) %></br></br>

  <%= question.label :question3 %>
  <%= question.select :question3, 
  options_for_select(%w[$ $$ $$$ $$$$]) %></br></br>

  <%= question.submit "submit responses!", :id => "survey2" %>

<% end %>
<% end %>

<% if @survey2 %>
  <h1>Survey 2</h1>

  <%= form_for(:response2, url: crunch_path) do |question| %>


  <%= @restaurant1 %></br>
  <%= @address1 %></br>
  <%= @rating1 %></br>
  <%= @tip1 %></br>
  <%= @tip11 %></br>
  <%= @tip111 %></br>
  <br/>
  <%= @restaurant2 %></br>
  <%= @address2 %></br>
  <%= @rating2 %></br>
  <%= @tip2 %></br>
  <%= @tip22 %></br>
  <%= @tip222 %></br>
  <br/>
  <%= @restaurant3 %></br>
  <%= @address3 %></br>
  <%= @rating3 %></br>
  <%= @tip3 %></br>
  <%= @tip33 %></br>
  <%= @tip333 %> </br>
 
  <%= question.submit "submit responses!", :id => "survey2" %>

<% end %>
<% end %>

<p id="test"></p>




