<!--<script type="text/javascript">
window.onload = function(){ apiTimer();};
</script>-->

<head><meta name="viewport" content="width=device-width"></head>

<!-- SURVEY 1 -->

<% if @survey1 %>

<h1 class="title">Let's get some lunch!</h1>
<% if @info != nil %>
<p class="surveyDetails">In <%= @info.location %></p>
<p class="surveyDetails">Survey sent by: <%= @info.name %></p>
<% end %>

<%= form_for(:response, url: crunch_path, method: :post) do |question| %>
  <div class="container survey1-container">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <%= question.label "Cuisine" %></br>
      <div class="drop-options">
      <%= question.select :question1, 
      options_for_select(%w[Thai Chinese Mexican Sushi Burgers Korean Indian FoodTruck FastFood]) %></br>
      </div>
    </div>

    <div class="col-md-2">
      <%= question.label "Distance" %></br>
      <div class="drop-options">
      <%= question.select :question2, 
      options_for_select(%w[walking short-drive long-drive]) %></br>
      </div>
    </div>

    <div class="col-md-2">
      <%= question.label "Price" %></br>
      <div class="drop-options">
      <%= question.select :question3, 
      options_for_select(%w[$ $$ $$$ $$$$]) %></br>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>

  <div class="container survey-submit">
  <div class="col-md-5"></div>
  <div class="col-md-2">
  <%= question.submit "submit", :id => "survey1-submit-btn" %>
  </div>
  <div class="col-md-5"></div>
  </div>

<% end %>
<% end %>


<!-- SURVEY 2 -->

<% if @survey2 %>

<h1 class="title">Let's get some lunch!</h1>
<% if @info != nil %>
<p class="surveyDetails">In <%= @info.location %></p>
<p class="surveyDetails">Survey sent by: <%= @info.name %></p>
<% end %>

<h2 class="title2">Pick a restaurant:</h2>
<%= form_for(:responsetwo, url: crunchtwo_path, method: :post) do |f| %>
<br/><br/><br/><br/><br/><br/>
  

<div id="container">
  <div id="cube2" class="animate">
    <div>1. Nacho cheese</div>
    <div>2. Because he was on a roll</div>
    <div>3. An impasta</div>
    <div>4. Gets jalapeño Business</div>
    <div>5. Because it saw the salad dressing</div>
    <div>6. Because they crack each other up</div>
  </div>
</div>


<div id="container">
  <div id="cube1" class="animate">
    <div class="jokes">Crunching Data</div>
    <div class="jokes">Please Stand-By</div>
    <div class="jokes">Crunching Data</div>
    <div class="jokes">Please Stand-By</div>
    <div class="jokes">Crunching Data</div>
    <div class="jokes">Please Stand-by</div>
  </div>
</div>


<div id="container">
  <div id="cube" class="animate">
    <div>1. What do you call cheese that isn't yours?</div>
    <div>2. Why couldn't the sesame seed leave the casino?</div>
    <div>3. What do you call a fake noodle?</div>
    <div>4. What does a nosy pepper do?</div>
    <div>5. Why did the tomato blush?</div>
    <div>6. Why don't eggs tell jokes?</div>
  </div>
</div>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div id="bigContainer">
<div class="container">

    <!-- VENUE ONE DROPDOWN -->
    <div class="col-md-4">
      <p id="ven1" class="rest-title"></p>
      <%= f.check_box :restaurant, {}, "venueone", false %> <br/>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">More Info
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p id="ven1Price"></p> 
        <p id="ven1Rating"></p>
        <p id="ven1Address"></p> 
        <p id="ven1Tip1"></p>  
        <p id="ven1Tip2"></p> 
        <p id="ven1Tip3"></p>
      </div>
    </div>
  </div>
</div>
  

    <!-- VENUE TWO DROPDOWN -->
    <div class="col-md-4">
      <p id="ven2" class="rest-title"></p>
      <%= f.check_box :restaurant, {}, "venuetwo", false %> <br/>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">More Info
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      <p id="ven2Price"></p> 
      <p id="ven2Rating"></p> 
      <p id="ven2Address"></p> 
      <p id="ven2Tip1"></p> 
      <p id="ven2Tip2"></p> 
      <p id="ven2Tip3"></p>
    </div>
  </div>
  </div>
  </div>       
   

    <!-- VENUE THREE DROPDOWN -->

    <div class="col-md-4">
      <p id="ven3" class="rest-title"></p> 
      <%= f.check_box :restaurant, {}, "venuethree", false %> <br/>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">More Info
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p id="ven3Price"></p>  
        <p id="ven3Rating"></p> 
        <p id="ven3Address"></p>  
        <p id="ven3Tip1"></p>  
        <p id="ven3Tip2"></p>  
        <p id="ven3Tip3"></p>

      </div>
  </div>
  </div>
  </div>
    </div>      
  </div> 

 </div>
 </div>
   <div class="container survey-submit" id="survey2-container">
  <div class="col-md-5"></div>
  <div class="col-md-2">
  <%= f.submit "Submit", :id => "survey2-submit-btn" %>
  </div>
  <div class="col-md-5"></div>
  </div>  
<% end %>

<% end %>



<!-- SURVEY 3 -->

<% if @survey3 %>

<br/><br/>
<p class="title1">Based on feedback from <%= @info.people %> people,<br/> the Victorious Venue is...</p>

<br/>

<div id="survey3results">
 <span>Restaurant:</span> <p class="floating" id="venueFinal"></p><br/>  
 <span>Address:</span> <p class="floating" id="venueFinalPrice"></p><br/>  
 <span>Price Tier:</span> <p class="floating" id="venueFinalRating"></p><br/>  
 <span>Rating:</span> <p class="floating" id="venueFinalAddress"></p>  

<img class="scaling" id="p1"/>
<img class="scaling" id="p2"/>
<img class="scaling" id="p3"/>
<br/>
<img class="scaling" id="p4"/>
<img class="scaling" id="p5"/>
<img class="scaling" id="p6"/>

</div>

<% end %>






