

<h1>Lets get some damn lunch!</h1>
<% if @info != nil %>
<h3>Survey sent by <%= @info.name %></h3>

<h3>Will search in the <%= @info.location %> area</h3>
<% end %>

<% if @survey1 %>
<%= form_for(:response, url: crunch_path, method: :post) do |question| %>

  <%= question.label :question1 %>
  <%= question.select :question1, 
  options_for_select(%w[Thai Chinese Mexican Sushi Burgers Korean Indian FoodTruck FastFood]) %></br></br>

  <%= question.label :question2 %>
  <%= question.select :question2, 
  options_for_select(%w[walking short-drive long-drive]) %></br></br>

  <%= question.label :question3 %>
  <%= question.select :question3, 
  options_for_select(%w[$ $$ $$$ $$$$]) %></br></br>

  <%= question.submit "submit responses!", :id => "survey2" %>

<% end %>
<% end %>

<% if @survey2 %>
  <h1>Survey 2</h1>

  <%= form_for(:response2, url: crunch_path) do |question| %>

  <%= @restaurant1 %></br>
  <%= @restaurant2 %></br>
  <%= @restaurant3 %></br>
 
  <%= question.submit "submit responses!", :id => "survey2" %>

<% end %>
<% end %>


