<h1>Page you see after response saved</h1>



<%= @resultspt1 %>


<br/><br/><br/><br/><br/><br/><br/><br/>


<%= @resultspt1.venues[0].name%><br/>
<%= @resultspt1.venues[0].id%>

<br/><br/><br/>

<%= @resultspt1.venues[1].name%><br/>
<%= @resultspt1.venues[1].id%>

<br/><br/><br/>

<%= @resultspt1.venues[2].name%><br/>
<%= @resultspt1.venues[2].id%>

<br/><br/><br/>

<%= @resultspt2.name %><br/>
<%= @resultspt2.price.tier %>

<br/><br/>

<%= @resultspt3.name %><br/>
<%= @resultspt3.price.tier %>

<br/><br/>

<%= @resultspt4.name %><br/>
<%= @resultspt4.price.tier %><br/>
<%= @resultspt4.tips.groups[0].items[0].text %><br/>
<%= @resultspt4.tips.groups[0].items[1].text %><br/>
<%= @resultspt4.tips.groups[0].items[2].text %><br/>

<br/><br/><br/><br/><br/><br/>

<%#= @resultspt4 %>


